## Pandas - Importing data

In [ ]:
## import the pandas library in this cell

### Ingest the following dataset into this note:

- ```ems_2019_first_6_months.csv``` into a dataframe named ```ems_19_first_df```

In [ ]:
## import data and store in dataframe

In [ ]:
## call the first 10 rows

In [ ]:
## call the last 5 rows

In [ ]:
## call a 20 random rows

In [ ]:
## get basic overview of the data
## what datatypes do the different columns hold?
## how many rows and columns are there

### In three separate cells, ingest the 3 other related datasets into this notebook:

- ```ems_2019_last_6_months.csv``` into a dataframe named ```ems_19_last_df```
- ```ems_2020_first_6_months.csv``` into a dataframe named ```ems_20_first_df```
- ```ems_2020_last_6_months.csv``` into a dataframe named ```ems_20_last_df```

We want to combine all 4 dataframes so we can run an analysis on the combined dataframes

In [ ]:
### For last 6 months of 2019
## call the dataframe to see what you have

In [ ]:
### For first 6 months of 2020
## call the dataframe to see what you have

In [ ]:
### For last 6 months of 2020
## call the dataframe to see what you have

### Check if all the column headers are identical (down to the same order)
We need to confirm they are the same before we combine them

In [ ]:
## headers for first 6 months of 2019

In [ ]:
## headers for first 6 months of 2020

In [ ]:
## check if they are the same

In [ ]:
## creater headers list for last 6 months of 2019 and 2020

In [ ]:
## check if one of the first is equal to one of the last

In [ ]:
## now confirm that the two lasts are the same

## Combine the 4 dataframes

In [ ]:
## create a list to combine all

In [ ]:
## combine the dfs

#### Confirm that their row totals add up to the correct number

In [ ]:
## how many rows does the combined df have

In [ ]:
## get total rows when you add up all the individual dataframes

## Ingest Massive Dataset

Step 1. Open this dataset in Excel first. What happened?

Step 2. Open this data set in Pandas.

In [ ]:
## import global_temps.csv into a df called temps_df

## How many rows of data does this dataset have?

In [ ]:
## 2_906_327

## Targeting an Excel sheet

We need the Customs and Border Protection data in this ```multi-data.xlsx``` workbook.

Note that this is an excerpt of the actual CBP data.

In [ ]:
### import it here

In [ ]:
## call the top 15 rows