# NYC traffic accidents over a 4 year period 
## Filter and Subset

Download <a href="https://www.dropbox.com/s/585wrgl08djzlyt/accidents-nyc.csv?dl=0">this dataset</a> stored on dropbox.

In [1]:
## import necessary libraries

import pandas as pd

In [7]:
## read the dataset into notebook

df = pd.read_csv("hw08-data/accidents-nyc.csv")
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,4/13/21,21:35,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4407147,Sedan,NaN
1,4/13/21,16:00,BROOKLYN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407811,Sedan,NaN
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
3,4/11/21,21:06,BROOKLYN,1,0,1,0,0,0,0,0,Passing Too Closely,NaN,4406488,Taxi,NaN
4,4/15/21,20:00,STATEN ISLAND,0,0,0,0,0,0,0,0,Unspecified,NaN,4408310,Sedan,NaN

In [8]:
## see the overall info about this dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282873 entries, 0 to 282872
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     282873 non-null  object
 1   CRASH TIME                     282873 non-null  object
 2   BOROUGH                        282873 non-null  object
 3   NUMBER OF PERSONS INJURED      282873 non-null  int64
 4   NUMBER OF PERSONS KILLED       282873 non-null  int64
 5   NUMBER OF PEDESTRIANS INJURED  282873 non-null  int64
 6   NUMBER OF PEDESTRIANS KILLED   282873 non-null  int64
 7   NUMBER OF CYCLIST INJURED      282873 non-null  int64
 8   NUMBER OF CYCLIST KILLED       282873 non-null  int64
 9   NUMBER OF MOTORIST INJURED     282873 non-null  int64
 10  NUMBER OF MOTORIST KILLED      282873 non-null  int64
 11  CONTRIBUTING FACTOR VEHICLE 1  281489 non-null  object
 12  CONTRIBUTING FACTOR VEHICLE 2  224591 non-null  object
 13  COLLISION_ID                   282873 non-null  int64
 14  VEHICLE TYPE CODE 1            279986 non-null  object
 15  VEHICLE TYPE CODE 2            201168 non-null  object
dtypes: int64(9), object(7)
memory usage: 34.5+ MB

In [16]:
## create a series of crash dates.

df["CRASH DATE"]

0         4/13/21
1         4/13/21
2         4/13/21
3         4/11/21
4         4/15/21
           ...
282868     1/1/19
282869     1/1/19
282870     1/1/19
282871     1/1/19
282872     1/1/19
Name: CRASH DATE, Length: 282873, dtype: object

In [12]:
## Which borough had the most crashes?

df["BOROUGH"].value_counts()

BROOKLYN         95099
QUEENS           80085
BRONX            50123
MANHATTAN        48864
STATEN ISLAND     8702
Name: BOROUGH, dtype: int64

In [14]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7
df["VEHICLE TYPE CODE 1"].value_counts().head(7)

Sedan                                  129987
Station Wagon/Sport Utility Vehicle    102850
Taxi                                    10647
Pick-up Truck                            7183
Box Truck                                5504
Bus                                      4697
Bike                                     3177
Name: VEHICLE TYPE CODE 1, dtype: int64

In [15]:
## What were a FIVE unusual primary vehicles to get into a crash?
df["VEHICLE TYPE CODE 1"].value_counts().tail(5)

SLINGSHOT     1
CHEVY EXPR    1
Go kart       1
FDNY Engin    1
MAC T         1
Name: VEHICLE TYPE CODE 1, dtype: int64

In [18]:
## create a subset of data for only Queens
## place it in a dataframe called df_q

df_q = df[df["BOROUGH"] == "QUEENS"]
df_q

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
10,4/14/21,21:43,QUEENS,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4407407,Station Wagon/Sport Utility Vehicle,NaN
17,4/15/21,14:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4407616,Sedan,Station Wagon/Sport Utility Vehicle
27,4/16/21,11:00,QUEENS,1,0,0,0,1,0,0,0,Turning Improperly,Unspecified,4407792,Station Wagon/Sport Utility Vehicle,Bike
28,4/16/21,17:00,QUEENS,5,0,0,0,0,0,5,0,Traffic Control Disregarded,Unspecified,4407853,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282861,1/1/19,11:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
282862,1/1/19,12:30,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
282863,1/1/19,2:18,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
282864,1/1/19,13:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
282866,1/1/19,10:23,QUEENS,1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [22]:
## CHALLENGE (as in you have to google this)
## How many people were killed in Queens in accidents?

df_q["NUMBER OF PERSONS KILLED"].sum()

120

In [24]:
df_q["NUMBER OF PERSONS KILLED"].value_counts()

0    79972
1      107
2        5
3        1
Name: NUMBER OF PERSONS KILLED, dtype: int64

In [23]:
## Same
## how many cyclists were killed in Queens?

df_q["NUMBER OF CYCLIST KILLED"].sum()

8

In [28]:
## Filter and subset 
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause

fil_taxi = df["VEHICLE TYPE CODE 1"] == "Taxi"
fil_manhattan = df["BOROUGH"] == "MANHATTAN"

df[fil_manhattan & fil_taxi]

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
67,4/14/21,8:03,MANHATTAN,1,0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,4407277,Taxi,NaN
144,4/14/21,0:42,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4407278,Taxi,Sedan
159,4/16/21,19:54,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4407959,Taxi,NaN
283,4/16/21,21:04,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4408288,Taxi,NaN
326,4/16/21,16:15,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408069,Taxi,Bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282632,1/1/19,1:30,MANHATTAN,0,0,0,0,0,0,0,0,Other Vehicular,Driver Inattention/Distraction,4060445,Taxi,Station Wagon/Sport Utility Vehicle
282684,1/1/19,16:00,MANHATTAN,2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,4061524,Taxi,Station Wagon/Sport Utility Vehicle
282802,1/1/19,16:15,MANHATTAN,0,0,0,0,0,0,0,0,Passenger Distraction,Passing Too Closely,4060796,Taxi,Sedan
282819,1/1/19,20:30,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4060662,Taxi,NaN
282851,1/1/19,6:00,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4060698,Taxi,NaN

In [31]:
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause

df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().head()

Unspecified                       78494
Driver Inattention/Distraction    70615
Failure to Yield Right-of-Way     20691
Following Too Closely             14407
Backing Unsafely                  13348
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [32]:
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause
df["CONTRIBUTING FACTOR VEHICLE 2"].value_counts().head()

Unspecified                       190456
Driver Inattention/Distraction     14186
Other Vehicular                     3529
Failure to Yield Right-of-Way       2233
Passing or Lane Usage Improper      2171
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [34]:
## What were the 5 fewest causes for primary vehicles causing the accident

df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().tail()

Shoulders Defective/Improper    13
Texting                          8
Cell Phone (hands-free)          8
Windshield Inadequate            3
Listening/Using Headphones       2
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [35]:
## list ALL the causes as unique values (in other words, create a list of the causes)

df["CONTRIBUTING FACTOR VEHICLE 1"].unique()

array(['Unspecified', 'Following Too Closely',
       'Driver Inattention/Distraction', 'Passing Too Closely',
       'Passing or Lane Usage Improper', 'Driver Inexperience',
       'Failure to Yield Right-of-Way', 'Turning Improperly',
       'Unsafe Speed', 'Backing Unsafely', 'Steering Failure',
       'Traffic Control Disregarded', 'Drugs (illegal)',
       'Reaction to Uninvolved Vehicle', 'View Obstructed/Limited',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Alcohol Involvement', 'Pavement Slippery', 'Brakes Defective',
       'Oversized Vehicle', 'Animals Action', 'Unsafe Lane Changing',
       'Outside Car Distraction', 'Illnes', 'Other Vehicular',
       'Aggressive Driving/Road Rage', 'Fell Asleep',
       'Tire Failure/Inadequate', 'Pavement Defective', nan,
       'Lost Consciousness', 'Accelerator Defective',
       'Passenger Distraction', 'Glare', 'Eating or Drinking',
       'Cell Phone (hands-free)', 'Lane Marking Improper/Inadequate',
       'Obstruction/Debris', 'Failure to Keep Right',
       'Using On Board Navigation Device', 'Fatigued/Drowsy',
       'Physical Disability', 'Cell Phone (hand-Held)',
       'Headlights Defective', 'Tinted Windows', 'Vehicle Vandalism',
       'Driverless/Runaway Vehicle', 'Prescription Medication', 'Texting',
       'Traffic Control Device Improper/Non-Working',
       'Tow Hitch Defective', 'Shoulders Defective/Improper',
       'Windshield Inadequate', 'Other Lighting Defects',
       'Other Electronic Device', 'Listening/Using Headphones'],
      dtype=object)