# Tidy Data

Please tidy <a href="https://drive.google.com/file/d/1TnWudd-TfxZxb0IJyZzoolHdWBcrR9bj/view?usp=sharing">this census data file</a>.

In [2]:
### Import libraries
import pandas as pd

## We tidy data using Pandas' ```melt``` method

![Screen Shot 2022-05-02 at 1.07.08 PM.png]()

### Melt Parameters

```id_vars```  This is the column(s) that we want to unpivot around so values should show up more than once.

```value_vars```  All columns that are not ```id_vars``` will unpivot. Named ```variable``` and ```value``` by default.

```var_name```  We can name the column variable header(s).

```value_name```  We can name the result column(s).

In [3]:
## read data file
df = pd.read_csv("messy/census.csv")
df

,state,state fips,commodity,data item,domain category,2017,2012,2007,2002,1997
0,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,NaN,"2,042,220","2,109,303","2,204,792","2,128,982","2,215,876"
1,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (1.0 TO 9.9 ACRES),"273,325","223,634","232,849","179,346","205,390"
2,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (10.0 TO 49.9 ACRES),"583,001","589,549","620,283","563,772","530,902"
3,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (50 TO 179 ACRES),"564,763","634,047","660,530","658,705","694,489"
4,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (180 TO 499 ACRES),"315,017","346,038","368,368","388,617","428,215"
...,...,...,...,...,...,...,...,...,...,...
124,US TOTAL,99,POTATOES,POTATOES - ACRES HARVESTED,NaN,"1,133,128","1,168,199","1,131,963","1,266,087","1,372,458"
125,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - OPERATIONS WITH AREA HARVESTED,NaN,"4,798","2,202","1,910","2,366","1,976"
126,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - ACRES HARVESTED,NaN,"172,983","125,726","105,284","92,310","80,953"
127,US TOTAL,99,ORCHARDS,ORCHARDS - OPERATIONS WITH AREA BEARING & NON-...,NaN,"111,955","106,488","115,935","113,649","123,420"
128,US TOTAL,99,ORCHARDS,ORCHARDS - ACRES BEARING & NON-BEARING,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
## I don't feel like typing out column names so I create a list
list(df.columns)

['state',
 'state fips',
 'commodity',
 'data item',
 'domain category',
 '2017',
 '2012',
 '2007',
 '2002',
 '1997']

In [5]:
## The columns I want to unpivot around are the first 5
## Create an id_vars list by slicing the columns list
id_vars_list = list(df.columns)[0:5]
id_vars_list

['state', 'state fips', 'commodity', 'data item', 'domain category']

In [6]:
## melt your df using the id_vars_list
## NOTE: in this cell I did not specify the varible and value names

dfm = df.melt(id_vars = id_vars_list)
dfm

,state,state fips,commodity,data item,domain category,variable,value
0,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,NaN,2017,"2,042,220"
1,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (1.0 TO 9.9 ACRES),2017,"273,325"
2,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (10.0 TO 49.9 ACRES),2017,"583,001"
3,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (50 TO 179 ACRES),2017,"564,763"
4,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (180 TO 499 ACRES),2017,"315,017"
...,...,...,...,...,...,...,...
640,US TOTAL,99,POTATOES,POTATOES - ACRES HARVESTED,NaN,1997,"1,372,458"
641,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - OPERATIONS WITH AREA HARVESTED,NaN,1997,"1,976"
642,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - ACRES HARVESTED,NaN,1997,"80,953"
643,US TOTAL,99,ORCHARDS,ORCHARDS - OPERATIONS WITH AREA BEARING & NON-...,NaN,1997,"123,420"
644,US TOTAL,99,ORCHARDS,ORCHARDS - ACRES BEARING & NON-BEARING,NaN,1997,NaN

In [14]:
## let's specify the variable and value column headers
dfm = df.melt(id_vars = id_vars_list,
             var_name = "year",
             value_name = "amount")
dfm

,state,state fips,commodity,data item,domain category,year,amount
0,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,NaN,2017,"2,042,220"
1,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (1.0 TO 9.9 ACRES),2017,"273,325"
2,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (10.0 TO 49.9 ACRES),2017,"583,001"
3,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (50 TO 179 ACRES),2017,"564,763"
4,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (180 TO 499 ACRES),2017,"315,017"
...,...,...,...,...,...,...,...
640,US TOTAL,99,POTATOES,POTATOES - ACRES HARVESTED,NaN,1997,"1,372,458"
641,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - OPERATIONS WITH AREA HARVESTED,NaN,1997,"1,976"
642,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - ACRES HARVESTED,NaN,1997,"80,953"
643,US TOTAL,99,ORCHARDS,ORCHARDS - OPERATIONS WITH AREA BEARING & NON-...,NaN,1997,"123,420"
644,US TOTAL,99,ORCHARDS,ORCHARDS - ACRES BEARING & NON-BEARING,NaN,1997,NaN

In [15]:
## Note that amount is a string
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            645 non-null    object
 1   state fips       645 non-null    int64
 2   commodity        645 non-null    object
 3   data item        645 non-null    object
 4   domain category  75 non-null     object
 5   year             645 non-null    object
 6   amount           616 non-null    object
dtypes: int64(1), object(6)
memory usage: 35.4+ KB

In [16]:
## remove the thousand separators 
dfm["amount"] = dfm["amount"].str.replace(",","")

In [17]:
dfm

,state,state fips,commodity,data item,domain category,year,amount
0,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,NaN,2017,2042220
1,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (1.0 TO 9.9 ACRES),2017,273325
2,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (10.0 TO 49.9 ACRES),2017,583001
3,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (50 TO 179 ACRES),2017,564763
4,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (180 TO 499 ACRES),2017,315017
...,...,...,...,...,...,...,...
640,US TOTAL,99,POTATOES,POTATOES - ACRES HARVESTED,NaN,1997,1372458
641,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - OPERATIONS WITH AREA HARVESTED,NaN,1997,1976
642,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - ACRES HARVESTED,NaN,1997,80953
643,US TOTAL,99,ORCHARDS,ORCHARDS - OPERATIONS WITH AREA BEARING & NON-...,NaN,1997,123420
644,US TOTAL,99,ORCHARDS,ORCHARDS - ACRES BEARING & NON-BEARING,NaN,1997,NaN

In [18]:
## The thousand separators are gone, but it's still a string object
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            645 non-null    object
 1   state fips       645 non-null    int64
 2   commodity        645 non-null    object
 3   data item        645 non-null    object
 4   domain category  75 non-null     object
 5   year             645 non-null    object
 6   amount           616 non-null    object
dtypes: int64(1), object(6)
memory usage: 35.4+ KB

In [19]:
dfm["amount"] = pd.to_numeric(dfm["amount"], errors="coerce")
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            645 non-null    object
 1   state fips       645 non-null    int64
 2   commodity        645 non-null    object
 3   data item        645 non-null    object
 4   domain category  75 non-null     object
 5   year             645 non-null    object
 6   amount           615 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 35.4+ KB